/* Footer */
.footer {
  width: 100%;
  height: 5%;
  background: var(--color-navbar-bg);
  backdrop-filter: blur(1px);
  border-top: 1px solid var(--color-border);
  padding: 1rem 0;
  text-align: center;
  font-size: 0.7rem;
  color: var(--color-primary);
  transition: var(--transition);
}

.footer:hover {
  backdrop-filter: blur(12px);
}

.footer.scrolled {
  box-shadow: 0 -4px 24px var(--color-shadow);
}
