
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F3F4F6; /* Fallback */
  background-image: linear-gradient(135deg, #F9FAFB, #E5E7EB);
  background-attachment: fixed;
  font-family: 'Gabarito', sans-serif;
  color: #1F2937;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar Hiding Utility */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #E5E7EB; /* overlay color */
}
::-webkit-scrollbar-thumb {
  background: #4F46E5; /* accent color */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.2);
}

/* Visual Editor Styles */
body.visual-editor-active [data-editable-path]:hover {
  outline: 2px dashed #4F46E5; /* accent color */
  outline-offset: 4px;
  cursor: text;
}

body.visual-editor-active [contentEditable="true"] {
    -webkit-user-modify: read-write-plaintext-only;
}
